:root{
    --primary-dark: #B33939;
    --primary-light: #FF6B6B;
    --secondary-dark: #11854C;
    --secondary-light: #37DB6E;
    --tertiary: #FF7E8B;
}

a {
    color: var(--primary-dark);
}
footer a{
    color: var(--primary-light);
}

.border-primaryColor{
    border-color: var(--primary-dark) !important;
}

.bg-primaryColor{
    background-color: var(--primary-dark);
    color: white;
}
.bg-secondaryColor{
    background-color: var(--secondary-dark);
    color: white;
}

.btn-primaryColor{
    border: 2px solid var(--primary-dark);
    background-color: var(--primary-dark);
    color: white;
}
.btn-primaryColor:hover{
    background-color: white;
    color: var(--primary-dark);
}

.btn-secondaryColor{
    border: 2px solid var(--secondary-dark);
    background-color: white;
    color: var(--secondary-dark);
}
.btn-secondaryColor:hover{
    background-color: var(--secondary-dark);
    color: white;
}

.btn-ShoppingCart{
    height: 5rem;
    width: 5rem;
}
